---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import BentoCard from "../components/BentoCard.astro";
import HeroLeft from "../components/HeroLeft.astro";
import HeroRight from "../components/HeroRight.astro";
import Bento from "../layouts/Bento.astro";
import Layout from "../layouts/home.astro";
---

<Layout title="Funasitien DreamCloud">
  <Bento title="Funasitien DreamCloud" image_url="/AstroClouds/avatar.webp">
    <BentoCard
      icon="simple-icons:instagram"
      title="Instagram"
      url="https://instagram.com/fdreamcloud"
    />
    <BentoCard
      icon="simple-icons:github"
      title="GitHub"
      grid="col-span-2 row-span-2 lg:row-span-4"
      url="https://github.com/Funasitien"
    />
    <BentoCard
      icon="simple-icons:twitch"
      title="Twitch"
      grid="col-span-4 row-span-2"
      url="https://twitch.tv/fdreamcloud"
    />
    <BentoCard
      title="DEMOCRAFT"
      description="LE meilleur serveur Mini-Jeux Survie Java & Bedrock sans hésitations"
      url="https://democraft.fr"
      button="Site Web"
      icon="/AstroClouds/img/democraft.png"
    />
    <BentoCard
      icon="simple-icons:soundcloud"
      title="SoundCloud"
      url="https://soundcloud.com/bydreamcloud"
    />
    <BentoCard
      icon="simple-icons:youtube"
      title="Youtube"
      grid="col-span-2 row-span-2 lg:row-span-4"
      url="https://youtube.com/@funasitien"
    />
    <BentoCard
      title="Les DreamClouds"
      icon="/AstroClouds/img/dreamclouds.png"
      grid="flex flex-row col-span-4 row-span-1 row-start-9 lg:row-start-auto"
      plus="pt-3.5"
      description="Ma super équipe de choc de développeurs"
      url="https://dreamclouds.fr"
    />
    <BentoCard
      title="Hétonia"
      description="Survie presque moddé et mini-jeux avec un resouce pack du tonnerre"
      icon="/AstroClouds/img/hetonia.png"
      button="Site Web"
      url="https://hetonia.fr"
    />
    <BentoCard
      title="SOON"
      grid="flex flex-row col-span-4 row-span-1"
      plus="pt-3.5"
      description="Encore un truc ?"
    />
  </Bento>

  <HeroLeft
    title="A propos de moi"
    alt="L'histoire du petit fufu"
    description="<ma vie>"
    icon="https://minecraft.wiki/images/Book_and_Quill_JE2_BE2.png?2128f"
    image_url="https://minecraft.wiki/images/thumb/Lectern_with_Book_%28S%29.png/150px-Lectern_with_Book_%28S%29.png?0e413"
  />
  <HeroRight
    title="Mes supers projets"
    alt="DEMOCRAFT c'est la vie"
    description="<mes projets>"
    icon="https://minecraft.wiki/images/Book_and_Quill_JE2_BE2.png?2128f"
    image_url="https://minecraft.wiki/images/thumb/Lectern_with_Book_%28S%29.png/150px-Lectern_with_Book_%28S%29.png?0e413"
  />

  <!-- HeroRight title="Funasitien DreamCloud" description="LOOOOOOL" />

  <div class="grid place-items-center h-screen content-center">
    <Button>Tailwind Button in Astro!</Button>
    <Card title="Test" />
    <a href="/markdown-page" class="p-4 underline"
      >Markdown is also supported...</a
    >
  </div -->
</Layout>
