---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import BentoCard from "../components/BentoCard.astro";
import HeroLeft from "../components/HeroLeft.astro";
import HeroRight from "../components/HeroRight.astro";
import Bento from "../layouts/Bento.astro";
import Layout from "../layouts/home.astro";
---

<Layout title="Funasitien DreamCloud">
  <Bento title="Funasitien DreamCloud" image_url="/AstroClouds/avatar.webp">
    <BentoCard icon="simple-icons:instagram" title="Instagram" url="https://instagram.com/fdreamcloud" />
    <BentoCard
      icon="simple-icons:github"
      title="GitHub"
      grid="col-span-2 row-span-2 lg:row-span-4"
	  url="https://github.com/Funasitien"
    />
    <BentoCard
      icon="simple-icons:twitch"
      title="Twitch"
      grid="col-span-4 row-span-2"
	  url="https://twitch.tv/fdreamcloud"
    />
    <BentoCard title="DEMOCRAFT" />
    <BentoCard icon="simple-icons:soundcloud" title="SoundCloud" url="https://soundcloud.com/bydreamcloud"/>
    <BentoCard
      icon="simple-icons:youtube"
      title="Youtube"
      grid="col-span-2 row-span-2 lg:row-span-4"
	  url="https://youtube.com/@funasitien"
    />
    <BentoCard
      title="Moi"
      grid="flex-row col-span-4 row-span-1 row-start-9 lg:row-start-auto"
      plus="pt-4"
    />
    <BentoCard title="Hétonia" />
    <BentoCard
      title="Moi + mes coupains"
      grid="flex-row col-span-4 row-span-1"
      plus="pt-4"
    />
  </Bento>

  <select data-choose-theme>
    <option value="pastel">Default</option>
    <option value="night">Dark</option>
  </select>

  <!-- Not Finished Yet !HeroLeft title="Funasitien DreamCloud" description="LOOOOOOL" />

  <HeroRight title="Funasitien DreamCloud" description="LOOOOOOL" />

  <div class="grid place-items-center h-screen content-center">
    <Button>Tailwind Button in Astro!</Button>
    <Card title="Test" />
    <a href="/markdown-page" class="p-4 underline"
      >Markdown is also supported...</a
    >
  </div -->
</Layout>
