---
import { Icon } from 'astro-icon/components'
import { parse } from 'url'

const { plus = "pt-6", icon = "mingcute:information-fill", url, title = "Titre", description = "Je crois que je suis une description, à vérifier.", grid = "col-span-2 row-span-2" } = Astro.props;

// Extract the domain name from the provided URL
const domain = url ? parse(url).hostname : '';

// Define a custom class based on the domain name
let customClass = '';
if (domain === 'github.com') {
  customClass = 'bg-slate-300 border-slate-300 dark:bg-slate-800 dark:border-slate-900';
} else if (domain === 'youtube.com') {
  customClass = 'bg-red-400 border-red-300 dark:bg-red-900 dark:border-red-950';
} else if (domain === 'discord.com') {
  customClass = 'bg-indigo-400 dark:bg-indigo-900 dark:border-indigo-950';
} else if (domain === 'soundcloud.com') {
  customClass = 'bg-orange-400 dark:bg-orange-900 dark:border-orange-950';
} else if (domain === 'twitch.tv') {
  customClass = 'bg-violet-400 dark:bg-violet-900 dark:border-violet-950';
} else if (domain === 'instagram.com') {
  customClass = 'bg-gradient-to-tr from-yellow-400 via-red-500 to-purple-500 border-red-400 dark:border-red-900 dark:from-yellow-700 dark:via-red-800 dark:to-purple-800';
} else {
  customClass = 'bg-base-200 border-base-300'
}

---

<div class:list={['card border-2 shadow-xl', customClass, grid]}>
  <div class:list={['card-body px-6 pt-6', plus]}>
    <h2 class="flex card-title text-lg lg:text-xl"><Icon name={ icon } /><span>{ title }</span></h2>
    <p class="text-sm">{ description }</p>
  </div>
</div>
