---
const { title, description, button_text = "En savoir plus", button_url = "#", col = "col-span-1", row = "row-span-1" } = Astro.props;
---

<div class:list={['card w-96 bg-base-300 shadow-xl', col, row]}>
  <div class="card-body">
    <h2 class="card-title">{ title }</h2>
    <p>{ description }</p>
    <div class="card-actions justify-end">
      <a href={ button_url } class="btn btn-primary">{ button_text }</a>
    </div>
  </div>
</div>