---
import { Icon } from 'astro-icon/components'
---


<div class="hidden lg:flex fixed top-0">
  <button class="p-4" data-toggle-theme="pastel,night" data-act-class="pastel">
    <Icon name="mingcute:sun-fill" class="dark:hidden text-5xl"/>
    <Icon name="mingcute:moon-fill" class="hidden dark:block text-5xl"/>
  </button>
</div>

<div class="hidden lg:flex fixed top-0 right-0">
  <button class="p-4" data-toggle-theme="pastel,night" data-act-class="pastel">
    <Icon name="mingcute:sun-fill" class="dark:hidden text-5xl"/>
    <Icon name="mingcute:moon-fill" class="hidden dark:block text-5xl"/>
  </button>
</div>