---
import { Icon } from 'astro-icon/components'
---


<div class="hidden lg:flex fixed top-0">
  <select data-choose-theme class="m-4 select select-bordered">
    <option value="pastel">Default</option>
    <option value="night">Dark</option>
  </select>
</div>